logs
.ipynb_checkpoints
ipynb
testing
Gantt
OLD_CODE
outputs
oncodriveclustl/cache
oncodriveclustl/outputs
dataset_randomizator
postprocessing
postprocess
oncodriveclustl.ipynb
dataset_randomizator.py
Distance_mutations.ipynb
oncodriveclustl/count_mutations.py
oncodriveclustl/mutations_intogen_local.txt

# Singularity images
*.simg

# Intellij IDEA files
.idea
*.iml
*.ipr
*.iws

# Eclipse files
.classpath
.project
.settings/
.ropeproject

# gEdit temporal files
*~

# Python bytecode
*.pyc
*.egg-info/
dist/

