logs
.ipynb_checkpoints
ipynb
testing
example
OLD_CODE
outputs
oncodriveclustl/cache
oncodriveclustl/outputs
dataset_randomizator
postprocessing
postprocess


# Intellij IDEA files
.idea
*.iml
*.ipr
*.iws

# Eclipse files
.classpath
.project
.settings/
.ropeproject

# gEdit temporal files
*~

# Python bytecode
*.pyc
*.egg-info/
dist/

