logs
.ipynb_checkpoints
testing
example
oncodriveclustl/cache

# Intellij IDEA files
.idea
*.iml
*.ipr
*.iws

# Eclipse files
.classpath
.project
.settings/
.ropeproject

# gEdit temporal files
*~

# Python bytecode
*.pyc
*.egg-info/
dist/

